* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
    padding: 10px;
}
header,
footer {
  background-color: lightblue;
  padding: 1rem;
  text-align: center;
  border: 3px solid blue;
  border-radius: 5px;
}
nav {
  background-color: blue;
  padding: 20px;
  border-radius: 5px;
}
nav a {
  color: wheat;
  margin: 5px 10px;
  padding: 5px 15px;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}
nav a:hover {
  background-color: lightblue;
  color: blue;
  border-radius: 5px;
}

.grid {
  display: grid;
  gap: 10px;
}
.section {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}
img {
    /* 100% width és height, akkor alkalmazkodik az oldal/div/egyebek méreteihez */
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  border-radius: 10px;
}